@import "tailwindcss";

@theme {
  --font-sans: "Outfit", "sans-serif";


  --color-dark: #1a1a1a;
  --color-gray-light: #f7f7f7;
  --color-gray: #707070;

  --text-xl-clamp: clamp(0.85rem, 2.75vw, 1rem);
  --text-xl-clamp--line-height: 1.25;

  --text-3xl: 2.4rem;
  --text-3xl-line-height: 1.2;

  --text-base: 0.9rem;
  --text-base-line-height: 1.5;

  --radius-xs: 0.185rem;
}

@utility container {
  max-width: 62rem;
}

:root {
  --spacing: 5px;

  font-size: 20px;
}
